<main>
  <!-- Main Section -->
  <section class="main">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-lg-7 pt-5 text-center">
          <h1 class="pt-5">Nature Has Always Cared For Us!</h1>
          <button class="btn1 mt-3">More Tips</button>
        </div>
      </div>
    </div>
  </section>
  <!-- New Section -->
<section class="new">
  <div class="container py-5">
    <div class="row pt-5">
      <% featured.slice(2, 5).forEach(item => { %>
        <div class="col-lg-4 text-center">
          <img src="<%= item.image %>" class="img-fluid" alt="" style="width: 150px; height: 200px;">
          <h6><%= item.label %></h6>
        </div>
      <% }) %>
    </div>
  </div>
</section>


  <!-- New Section -->
  <!-- <section class="new">
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col-lg-4 text-center">
          <img src="/image/banana.jpeg" class="img-fluid" alt="" style="width: 150px; height: 200px;">
          <h6>NATURAL</h6>
        </div>
        <div class="col-lg-4 text-center">
          <img src="/image/grapes.jpg" class="img-fluid" alt="" style="width: 150px; height: 200px;">
          <h6>ORGANIC</h6>
        </div>
        <div class="col-lg-4 text-center">
          <img src="/image/tree.jpg" class="img-fluid" alt="" style="width: 150px; height: 200px;">
          <h6>HEALTH</h6>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Product Section -->
  <section class="product">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-lg-5 m-auto text-center">
          <h1>What's Trending</h1>
          <h6 style="color: red;">Be Healthy Organic Food</h6>
        </div>
      </div>
      <div class="row">
        <% featured.forEach(item => { %>
        <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light mb-2">
            <div class="card-body">
              <img src="<%= item.image %>" class="img-fluid" alt="" style="width: 200px; height: 250px;">
            </div>
          </div>
          <h6><%= item.name %></h6>
          <p>$<%= item.price.toFixed(2) %></p>
        </div>
        <% }) %>
      </div>
      <div class="row">
        <div class="col-lg-6 text-center m-auto">
          <button></button>
          <a href="/views/menu" class="btn1">Click For More</a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="about">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-lg-8 m-auto text-center">
          <h1>Welcome to our Organic Food Society</h1>
          <h6 style="color: red;">Be Healthy Organic Food</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="/image/Men_hold_fruit.jpg" class="img-fluid mb-3" alt="">
          <h5>Best Quality Product</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime nesciunt architecto veniam modi, laborum exercitationem.</p>
        </div>
        <div class="col-lg-4">
          <img src="/image/gf1.jpg" class="img-fluid mb-3" alt="">
          <h5>Best Quality Product</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime nesciunt architecto veniam modi, laborum exercitationem.</p>
        </div>
        <div class="col-lg-4">
          <img src="/image/Men_hold_fruit.jpg" class="img-fluid mb-3" alt="">
          <h5>Best Quality Product</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime nesciunt architecto veniam modi, laborum exercitationem.</p>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-lg-6 text-center m-auto">
          <button class="btn1">Shop More</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Shop Section -->
  <section class="shop">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-8 m-auto text-center">
          <h1>Explore Our Store</h1>
        </div>
      </div>
      <div class="row">
        <% featured.slice(0,8).forEach(item => { %>
        <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light mb-2">
            <div class="card-body">
              <img src="<%= item.image %>" class="img-fluid" alt="" style="width: 200px; height: 250px;">
            </div>
          </div>
          <h6><%= item.name %></h6>
          <p>$<%= item.price.toFixed(2) %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

  <!-- Apple Section -->
  <section class="apple py-5">
    <div class="container text-white py-5">
      <div class="row py-5 ">
        <div class="col-lg-6 text-left">
          <h1 class="font-weight-bold py-2 px-2"> Unlock Your Potential with Good Nutrition</h1>
          <h6 >Be Healthy Organic Food</h6>
          <button class="btn1 mt-3"> More From Us</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Us Section -->
  <section id="contact" class="contact py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-5 m-auto text-center">
          <h1>Contact Us</h1>
          <h6 style="color: red;">Always Be In Touch With Us</h6>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-lg-9 m-auto">
          <div class="row">
            <div class="col-lg-4">
              <h6>LOCATION</h6>
              <P>F-10 Markaz islamabad, Islamabad Capital Territory, Islamabad,</P>
              <h6>PHONE</h6>
              <P>0344-2435557</P>
              <h6>EMAIL</h6>
              <p>baazdeal@gmail.com</p>
            </div>
            <div class="col-lg-7">
              <form id="contactForm">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control bg-light" name="firstName" placeholder="First Name" required>
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control bg-light" name="lastName" placeholder="Last Name" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 py-3">
                    <textarea name="message" class="form-control bg-light" placeholder="Your message" cols="10" rows="5" required></textarea>
                  </div>
                </div>
                <button class="btn0" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- News Section
  <section class="news py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-9 m-auto text-center">
          <h1>Join Our Secret Society </h1>
          <input type="email" class="px-3" placeholder="Enter Your email....">
          <button class="btn2">Submit</button>
        </div>
      </div>
    </div>
  </section>
</main>
-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
// Contact form submit using axios
const contactForm = document.getElementById('contactForm');
if(contactForm) {
  contactForm.addEventListener('submit', async function(e) {
    e.preventDefault();
    const data = {
      firstName: this.firstName.value,
      lastName: this.lastName.value,
      message: this.message.value
    };
    try {
      await axios.put('/views/contact', data);
      alert('Message sent!');
      this.reset();
    } catch (err) {
      alert('Failed to send message.');
    }
  });
}
</script>
